[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = git@github.com:gengshenchen/spdlog.git
[submodule "3rdparty/crashpad"]
	path = 3rdparty/crashpad
	url = git@github.com:gengshenchen/crashpad.git
